In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pyspark) (0.10.9.7)

[notice] A new release of pip available: 22.3 -> 25.0
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [11]:
import os
import sys

os.environ["JAVA_HOME"] = "JDK 8/Contents/Home"
os.environ["PYSPARK_PYTHON"] = sys.executable
os.environ["PYSPARK_DRIVER_PYTHON"] = sys.executable

In [19]:
# Imports
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("Api and DataFrame").getOrCreate()

In [13]:
data = [("Tom", 26), ("Play", 24), ("Ruben", 34), ("Dan", 30)]
columns =["Name", "Age"]

df = spark.createDataFrame(data=data, schema=columns)
df.show()

+-----+---+
| Name|Age|
+-----+---+
|  Tom| 26|
| Play| 24|
|Ruben| 34|
|  Dan| 30|
+-----+---+

In [17]:
from pyspark.sql.functions import when

In [20]:
df = df.withColumn("The_best?", when(col("Name") == "Tom", "Is the best").otherwise("Not the best"))
df.show()

+-----+---+------------+
| Name|Age|   The_best?|
+-----+---+------------+
|  Tom| 26| Is the best|
| Play| 24|Not the best|
|Ruben| 34|Not the best|
|  Dan| 30|Not the best|
+-----+---+------------+

In [23]:
new_names = [("Bill", 46, "") , ("Ben", 45, ""), ("Noddy", 29, ""), ("Bigears", 32, "")]
new_df = spark.createDataFrame(data=new_names, schema=columns)
df = df.union(new_df)
# filter users > 30

df.filter(df.Age > 30).show()

+-------+---+------------+
|   Name|Age|   The_best?|
+-------+---+------------+
|  Ruben| 34|Not the best|
|   Bill| 46|            |
|    Ben| 45|            |
|Bigears| 32|            |
|   Bill| 46|            |
|    Ben| 45|            |
|Bigears| 32|            |
|   Bill| 46|            |
|    Ben| 45|            |
|Bigears| 32|            |
+-------+---+------------+

In [24]:
# select only the name column

df.select("name").show()

+-------+
|   name|
+-------+
|    Tom|
|   Play|
|  Ruben|
|    Dan|
|   Bill|
|    Ben|
|  Noddy|
|Bigears|
|   Bill|
|    Ben|
|  Noddy|
|Bigears|
|   Bill|
|    Ben|
|  Noddy|
|Bigears|
+-------+

In [25]:
# count rows in the df

df.count()

16

In [26]:
# order by age, descending

df.orderBy(col("age").desc()).show()

+-------+---+------------+
|   Name|Age|   The_best?|
+-------+---+------------+
|   Bill| 46|            |
|   Bill| 46|            |
|   Bill| 46|            |
|    Ben| 45|            |
|    Ben| 45|            |
|    Ben| 45|            |
|  Ruben| 34|Not the best|
|Bigears| 32|            |
|Bigears| 32|            |
|Bigears| 32|            |
|    Dan| 30|Not the best|
|  Noddy| 29|            |
|  Noddy| 29|            |
|  Noddy| 29|            |
|    Tom| 26| Is the best|
|   Play| 24|Not the best|
+-------+---+------------+

In [27]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-macosx_10_9_x86_64.whl (12.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.6/12.6 MB 5.8 MB/s eta 0:00:0000:0100:01
Collecting numpy>=1.23.2
  Downloading numpy-2.2.2-cp311-cp311-macosx_10_9_x86_64.whl (21.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.2/21.2 MB 5.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/tomdursley/Library/Python/3.11/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 508.0/508.0 kB 4.7 MB/s eta 0:00:0000:0100:01
Collecting tzdata>=2022.7
  Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.8/346.8 kB 5.3 MB/s eta 0:00:0000:01
Requirement already satisfied: six>=1.5 in /Users/tomdursley/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.2 pandas-2.2.3 pytz-2024.2 tzdata-2025.1

[notice] A new release of pip available: 22.3 -> 25.0
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [29]:
import pandas as pd
import requests

url = "https://jsonplaceholder.typicode.com/posts"

response_data = requests.get(url).json()

posts_df = pd.DataFrame(response_data)
posts_df

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...
...,...,...,...,...
95,10,96,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...
97,10,98,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...
98,10,99,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...
99,10,100,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...

In [30]:
spark_df = spark.createDataFrame(posts_df)
spark_df.show()

+------+---+--------------------+--------------------+
|userId| id|               title|                body|
+------+---+--------------------+--------------------+
|     1|  1|sunt aut facere r...|quia et suscipit\...|
|     1|  2|        qui est esse|est rerum tempore...|
|     1|  3|ea molestias quas...|et iusto sed quo ...|
|     1|  4|eum et est occaecati|ullam et saepe re...|
|     1|  5|  nesciunt quas odio|repudiandae venia...|
|     1|  6|dolorem eum magni...|ut aspernatur cor...|
|     1|  7|magnam facilis autem|dolore placeat qu...|
|     1|  8|dolorem dolore es...|dignissimos aperi...|
|     1|  9|nesciunt iure omn...|consectetur animi...|
|     1| 10|optio molestias i...|quo et expedita m...|
|     2| 11|et ea vero quia l...|delectus reiciend...|
|     2| 12|in quibusdam temp...|itaque id aut mag...|
|     2| 13|dolorum ut in vol...|aut dicta possimu...|
|     2| 14|voluptatem eligen...|fuga et accusamus...|
|     2| 15|eveniet quod temp...|reprehenderit quo...|
|     2| 16|sint suscipit per...|suscipit nam nisi...|
|     2| 17|fugit voluptas se...|eos voluptas et a...|
|     2| 18|voluptate et itaq...|eveniet quo quis\...|
|     2| 19|adipisci placeat ...|illum quis cupidi...|
|     2| 20|doloribus ad prov...|qui consequuntur ...|
+------+---+--------------------+--------------------+
only showing top 20 rows

In [31]:
spark_df.groupBy("userId").count().show()

+------+-----+
|userId|count|
+------+-----+
|     1|   10|
|     3|   10|
|     2|   10|
|     5|   10|
|     4|   10|
|     7|   10|
|     6|   10|
|     8|   10|
|     9|   10|
|    10|   10|
+------+-----+

In [32]:
data = [
    (1, "Alice", 34, "Data Scientist"),
    (2, "Bob", 45, "Engineer"),
    (3, "Cathy", 29, "Analyst"),
    (4, "David", 41, "Manager"),
    (5, "Eva", 35, "Data Engineer")
]
columns = ["ID", "Name", "Age", "Occupation"]

df_workers = spark.createDataFrame(data, columns)
df_workers.show()

+---+-----+---+--------------+
| ID| Name|Age|    Occupation|
+---+-----+---+--------------+
|  1|Alice| 34|Data Scientist|
|  2|  Bob| 45|      Engineer|
|  3|Cathy| 29|       Analyst|
|  4|David| 41|       Manager|
|  5|  Eva| 35| Data Engineer|
+---+-----+---+--------------+

In [33]:
df_custom = df_workers.withColumn("Is_Senior", col("Age") >= 40)
df_custom.show()

+---+-----+---+--------------+---------+
| ID| Name|Age|    Occupation|Is_Senior|
+---+-----+---+--------------+---------+
|  1|Alice| 34|Data Scientist|    false|
|  2|  Bob| 45|      Engineer|     true|
|  3|Cathy| 29|       Analyst|    false|
|  4|David| 41|       Manager|     true|
|  5|  Eva| 35| Data Engineer|    false|
+---+-----+---+--------------+---------+

In [34]:
df_custom = df_custom.drop("Is_Senior")
df_custom.show()

+---+-----+---+--------------+
| ID| Name|Age|    Occupation|
+---+-----+---+--------------+
|  1|Alice| 34|Data Scientist|
|  2|  Bob| 45|      Engineer|
|  3|Cathy| 29|       Analyst|
|  4|David| 41|       Manager|
|  5|  Eva| 35| Data Engineer|
+---+-----+---+--------------+

In [35]:
df_custom = df_custom.withColumnRenamed("ID", "work_ID")
df_custom.show()

+-------+-----+---+--------------+
|work_ID| Name|Age|    Occupation|
+-------+-----+---+--------------+
|      1|Alice| 34|Data Scientist|
|      2|  Bob| 45|      Engineer|
|      3|Cathy| 29|       Analyst|
|      4|David| 41|       Manager|
|      5|  Eva| 35| Data Engineer|
+-------+-----+---+--------------+

In [36]:
df_custom.filter((col("Age") > 30) & (col("Occupation").contains("Data"))).show()

+-------+-----+---+--------------+
|work_ID| Name|Age|    Occupation|
+-------+-----+---+--------------+
|      1|Alice| 34|Data Scientist|
|      5|  Eva| 35| Data Engineer|
+-------+-----+---+--------------+